{% extends "layout.html" %} 

{% block title %} Libroj: Home {% endblock %} 
{% block style %} 
<style>
    h1{
        font-size: 9em;
    }

    h2{
        font-size: 2em;
        font-weight: 200;
        font-style: italic;
    }    
</style>
{% endblock %}
{% block body %}
<!-- main content -->
<div class="container d-flex flex-column align-items-center justify-content-center mt-5">
    <h1>Libroj</h1>
    <h2>Your trusted book reviewer.</h2>
    <form class="form-inline my-4" action="{{ url_for('search') }}" method="post">
        <input class="search form-control mr-sm-2" name="search" type="search" placeholder="Find your favorite book" id="search-bar">
        <button class="btn search btn-outline-dark my-2 my-sm-0" id="search-btn" type="submit">Search</button>
    </form>
</div>
{% endblock %}