{% extends "layout.html" %} {% block title %} Libroj: Log-in {% endblock %} {% block style %}
<style>
    .account {
        width: 20em;
    }
</style>
{% endblock %} {% block body %}
<!-- main content -->
<div class="container d-flex flex-column align-items-center mt-3">
    <h1> Welcome Back! </h1>
    <form action="{{ url_for('log_in') }}" method="post">
        <div class="form-group flex-column d-flex align-items-center mb-0">
            <input name="username" type="text" class="account form-control my-1" placeholder="Username">
            <input name="password" type="password" class="account form-control my-1" placeholder="Password"> 
            {% if error %}
            <div class="alert alert-warning my-1" role="alert">
                {{error}}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-dark account my-1">Log In</button>
        </div>
    </form>
    <a href="{{ url_for('sign_up') }}"><button type="submit" class="btn btn-outline-dark account my-1">Sign Up</button></a>
</div>
{% endblock %}