{% extends "layout.html" %} 
{% block title %} Libroj: Search for {{search}} {% endblock %} 
{% block style %}

{% endblock %}

{% block body %}
<!-- main content -->
<div class="container d-flex flex-column mt-3">
    <h3> Search results for "{{search}}": </h3>
    <form class="form-inline my-0" action="{{ url_for('search') }}" method="post">
        <input class="search form-control mr-sm-2" name="search" type="search" placeholder={{search}} id="search-bar" style="width: 80%;">
        <button class="btn search btn-dark my-1" id="search-btn" type="submit">Search</button>
    </form>
    <hr>
    <div class="container d-flex flex-column mt-1">
        DISPLAY THE RESULTS
    </div>
</div>
{% endblock %}