$themecolor: rgb(106, 201, 238);
$subcolor: rgb(107, 146, 230);
$bgcolor: rgb(239, 255, 203);
$textcolor: rgb(51, 65, 80);
$emphcolor: rgb(27, 23, 56);
$darkcolor: rgb(26, 43, 75);
html {
    scroll-behavior: smooth;
}

%shadowing {
    box-shadow: 0px 0px 20px $darkcolor;
}

a:hover {
    text-decoration: none;
}

header {
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, .4);
    display: flex;
    z-index: 50;
    position: sticky;
    top: 0;
    @extend %shadowing;
    // width: 100%;
}