$themecolor: rgb(106, 201, 238);
$subcolor: rgb(107, 146, 230);
$bgcolor: rgb(239, 255, 203);
$textcolor: rgb(51, 65, 80);
$emphcolor: rgb(27, 23, 56);
$darkcolor: rgb(26, 43, 75);
html {
    scroll-behavior: smooth;
}

.bg-image {
    //background-color: $bgcolor;
    //background-image: url("C:/Users/lyx20/Pictures/Saved Pictures/Download-Space-Wallpaper.jpg");
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    //width: 1920px;
    //height: 800px;
    // -webkit-filter: blur(5px);
    // -moz-filter: blur(5px);
    // -o-filter: blur(5px);
    // -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.02);
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    // margin-left: 20px;
    // margin-right: 20px;
}

header {
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, .4);
    display: flex;
    z-index: 50;
    position: sticky;
    top: 0;
    @extend %shadowing;
    // width: 100%;
}

a:hover {
    text-decoration: none;
}

@media(min-width: 600px) {
    .navbar,
    .navbar-nav {
        flex-direction: row;
    }
}

@media(max-width: 599px) {
    .navbar,
    .navbar-nav {
        flex-direction: column;
    }
}

.navbar {
    a {
        color: $textcolor;
        font-size: x-large;
        margin: 8px;
        //text-shadow: 1px 2px 3px $subcolor;
    }
    a:hover {
        color: $emphcolor;
        text-shadow: 0px 0px 5px $subcolor;
    }
}

// #navbar-nav {
//     flex-direction: row;
// }
.active {
    font-weight: 500;
    text-shadow: 0px 0px 5px $subcolor;
}

.main {
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, .6);
}

%shadowing {
    box-shadow: 0px 0px 20px $darkcolor;
}

.flow-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    @extend %shadowing;
    margin: 1rem;
}

.card:hover {
    transform: scale(1.01);
}

h1 {
    color: $textcolor;
    //text-shadow: 1px 2px 3px $subcolor;
    margin: 10px;
}

h5 {
    font-size: large;
}

.card-text {
    font-size: medium;
}

p {
    color: $textcolor;
    font-size: large;
}

.ptxt {
    color: $textcolor;
    font-size: x-large;
}

#my-pic {
    border-radius: 200px;
    box-shadow: 0px 0px 50px $darkcolor;
}

#my-pic:hover,
#intro-block:hover {
    transform: scale(1.01);
}

// .card {
//     margin: 50px;
// }