$themecolor: rgb(106, 201, 238);
$subcolor: rgb(123, 175, 218);
$bgcolor: rgb(239, 255, 203);
$textcolor: rgb(51, 65, 80);
$emphcolor: black;
.bg-image {
    //background-color: $bgcolor;
    //background-image: url("C:/Users/lyx20/Pictures/Saved Pictures/Download-Space-Wallpaper.jpg");
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    //width: 1920px;
    //height: 800px;
    // -webkit-filter: blur(5px);
    // -moz-filter: blur(5px);
    // -o-filter: blur(5px);
    // -ms-filter: blur(5px);
    filter: blur(10px);
    transform: scale(1.02);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    // margin-left: 20px;
    // margin-right: 20px;
}

header {
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, .6);
    display: flex;
    //flex-direction: row;
}

// div {
//     padding: 5px;
//     margin: 5px;
//     display: grid;
// }
a:hover {
    text-decoration: none;
}

@media(min-width: 600px) {
    .navbar,
    .navbar-nav {
        flex-direction: row;
    }
}

@media(max-width: 599px) {
    .navbar,
    .navbar-nav {
        flex-direction: column;
    }
}

.navbar {
    a {
        color: $textcolor;
        font-size: x-large;
        margin: 8px;
        //text-shadow: 1px 2px 3px $subcolor;
    }
    a:hover {
        color: $emphcolor;
        font-weight: 500;
        text-shadow: 1px 2px 3px $subcolor;
    }
}

// #navbar-nav {
//     flex-direction: row;
// }
.active {
    font-weight: 500;
    text-shadow: 1px 2px 3px $subcolor;
}

.main {
    background-color: rgba(255, 255, 255, .8);
}

.bkgd {
    align-items: center;
    justify-content: center;
}

h1 {
    color: $themecolor;
    //text-shadow: 1px 2px 3px $subcolor;
    margin: 10px;
}

p {
    color: $textcolor;
    font-size: x-large;
}

.ptxt {
    color: $textcolor;
    font-size: x-large;
}

#my-pic {
    width: 200px;
    height: 200px;
    position: relative;
}